@font-face {
  font-family: Brasika;
  src: url(../fonts/Brasika.otf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

/* Estilo da barra de scroll */

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #463221;
  border-radius: 3px;
}

/* Menu do site */

.menu {
  width: 100%;
  background: #fff;
  height: 60px;
  position: fixed;
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.menu-itens {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 3px 0 0 0;
}
#logo h2 {
  font-family: Brasika;
  font-size: 2rem;
  color: #463221;
}
.itens a {
  text-decoration: none;
  color: #463221;
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
.itens a:hover {
  color: #f0d1b1;
}
.itens ion-icon {
  padding-right: 10px;
}

/* Botão para voltar ao topo da página */

.topo-btn {
  outline: none;
  border: 0;
  font-size: 2em;
  width: 50px;
  height: 50px;
  color: #463221;
  padding: 8px;
  background-color: #f0d1b1;
  border-radius: 10px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  position: fixed;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}
.topo-btn.active {
  visibility: visible;
  opacity: 1;
}

/* Fim do botão voltar ao topo */

/* Area de personalização do conteúdo */

section {
  width: 100%;
  transition: all 0.3s linear;
}

/* Template */

.template {
  width: 100%;
  height: 83vh;
  background: url(../images/temp2.png) #527f68;
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.3);
}
.capa {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
.cont-template {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-template h1 {
  color: #463221;
  font-family: Brasika;
  font-size: 4rem;
  text-align: center;
  display: inline-block;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  cursor: default;
}

/* Corpo conteúdo */

.container {
  width: 100%;
  height: 100%;
}
.conteudo {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
}
.cont-bloco {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 80px;
}
.cont-img {
  width: 35%;
}
.cont-img img {
  width: 100%;
  border-radius: 10px;
}
.cont-text {
  width: 65%;
  padding: 20px;
}
.cont-text p {
  padding: 5px 0;
  color: rgb(63, 63, 63);
}
.cont-text h1 {
  text-align: center;
  color: rgb(63, 63, 63);
  margin-bottom: 20px;
}
.cont-botao {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #463221;
  border-radius: 10px;
  color: #463221;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  margin-top: 20px;
}
.cont-botao:hover {
  background-color: #f0d1b1;
  border: 2px solid #f0d1b1;
  transition: all 0.2s ease-in-out;
}
.conteudo h2 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #463221;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: 35px 0 100px 0;
}
.card {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 10px;
  padding: 15px;
  transition: all ease 0.2s;
  text-align: center;
}
.card:hover {
  transition: all ease 0.2s;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.5);
}
.card-img {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  background-color: #f0d1b1;
  color: #463221;
}
.card h2 {
  margin-top: 30px;
  color: #463221;
}
.card p {
  margin: 20px 0;
  color: #463221;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
/* Estilo do rodapé do site */

footer {
  width: 100%;
  background-color: #f0d1b1;
  height: 100%;
}
.rodape {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cont-rodape {
  text-align: center;
  color: rgb(37, 37, 37);
}
.cont-rodape a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(82, 82, 82);
  margin-top: 10px;
  display: inline-block;
}
.cont-rodape a:hover {
  text-decoration: underline;
}
.direito {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.direito hr {
  margin-bottom: 20px;
}
.direito p {
  color: rgb(82, 82, 82);
}
